<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
        xmlns:p="http://www.springframework.org/schema/p"  
        xmlns:aop="http://www.springframework.org/schema/aop"   
        xmlns:context="http://www.springframework.org/schema/context"  
        xmlns:jee="http://www.springframework.org/schema/jee"  
        xmlns:tx="http://www.springframework.org/schema/tx"  
        xsi:schemaLocation="    
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
    <context:component-scan base-package="sino.java"></context:component-scan>         
	<context:property-placeholder location="classpath:/sino/java/config/spring/jdbc.properties" /> 
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 数据库的驱动 -->
      	<property name="driverClass" value="${jdbc.driver}"/>
        <!-- 数据库的路径 -->
		<property name="jdbcUrl" value="${jdbc.url}"/>
        <!-- 数据库的用户名 -->
		<property name="user" value="${jdbc.user}"/>
        <!-- 数据库的密码 -->
		<property name="password" value="${jdbc.password}"/>
        <!-- 每300秒检查所有连接池中的空闲连接 -->
        <property name="idleConnectionTestPeriod" value="300"></property>
        <!-- 最大空闲时间,900秒内未使用则连接被丢弃。若为0则永不丢弃 -->
        <property name="maxIdleTime" value="900"></property>
        <!-- 最大连接数 -->
        <property name="maxPoolSize" value="2"></property>
    </bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
 
		<property name="configLocation">
			<value>classpath:/sino/java/config/hibernate/hibernate.cfg.xml</value>
		</property>

        <property name="hibernateProperties">
            <props>
                <!-- 
                 prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</prop>
                 -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.autoReconnect">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--  
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                -->
            </props>
        </property>

		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:\sino\java\config\hibernate\hbm</value>
			</list>
		</property>
			
		<!-- 
		<property name="mappingResources">
			<list>
				<value>/sino/java/config/hibernate/hbm/User.hbm.xml</value>
				<value>/sino/java/config/hibernate/hbm/Dep.hbm.xml</value>
			</list>
		</property>
		 -->
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory"  ref="sessionFactory"/>
    </bean> 
  
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="checkOption" class="sino.java.common.CheckOption">
		<property name="imf" ref="impowerServiceFinder"></property>
	</bean>
	
</beans>
